:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
}

header,
main {
  max-width: 1500px;
  width: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: beige;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.card {
  min-width: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: antiquewhite;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease, border-color 0.2s ease;
}

.card:active {
  transform: scale(0.8);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}
.card:focus-visible {
  border: 3px solid gold;
  outline: 3px solid gold;
}

.card img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

header {
  text-align: center;
}

.score-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (hover: hover) {
  .card:hover {
    transform: scale(1.05);
    border-color: gold;
    border-width: 3px;
  }
}
