:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: beige;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.card {
  min-width: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: antiquewhite;
  border-radius: 10px;
  font-size: 1.2rem;
}

.card img {
  width: 300px;
  height: 300px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

header {
  width: 100%;
  text-align: center;
}

.score-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  transition: transform 1s;
}
button:hover {
  transform: scale(1.05);
  border-color: gold;
  border-width: 3px;
}

@media (min-width: 800px) {
  body > * {
    max-width: 1500px;
  }
}
